#background {
    height:400px;
    width:600px;
    outline: 5px solid black;
    position:relative;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-top: 20px;
}

.players {
    position:absolute;
    height:40px;
    width:40px;
    outline: 2px solid lightblue;
    background-color: black;
    color:#fff;
}