#background {
    height:400px;
    width:400px;
    outline: 5px solid black;
    position:relative;
}

#monke {
    position:absolute;
    height:40px;
    width:40px;
    outline: 2px solid black;
    background-color: lightblue;
    left: 0;
    top: 0;
    color:#fff;
}